:root {
	--emm: calc(1vh + 1vw);
}
a{
	text-decoration: none;
	color: #000000;
	font-size: 1.2em;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2x);
  padding: 0.4em;
		opacity: 0;
		outline: none;
}
html {
  scroll-behavior: smooth;
}
body {
	margin: 0 auto;
	background: #ffebd0cd;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
main{
  width: max-content;
  margin: 0 auto;	
}

.bayan{
	text-align: center;
	padding-top: 2em;
	border-bottom: 0.01em solid #000000;
	font-size: 1.4em;
}
article.accordion
{
	display: block;
	width: 45em;
	height: 80vh;
	padding: 2.5em 0.5em 0.05em, 0.5em;
	margin: 0 auto;
	border-radius: 0.05em;
}
article.accordion:hover{
	cursor: pointer;
}
.accordion__wrapper>.accordion>section>p:hover .accordion__section>img{
	display: block;
}

article.accordion section
{
	display: block;
	height: 2em;
	padding: 0 1em;
	margin: 0 0 0.5em 0;
	color: #000000;
	overflow: hidden;
	border-radius: 0.05em;
}

article.accordion section p
{
	font-size: 1em;
	font-weight: bold;
	line-height: 2em;
	padding: 0;
	margin: 0;
	  display: flex;
  justify-content: space-between;
  width: 37em;
}



article.accordion section:target
{
	height: 25em;
	background-color: #ffffff1b;
}

article.accordion section:target h2
{
	font-size: 1.6em;
	color: #333;
}



img:target {
	display: none;
}


article.accordion section,
article.accordion section h2
{
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

section > img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

